<ul class="mainnav sidenav sidenav-fixed collapsible" id="slide-out">
    <li class="item">
        <div class="user-view">
            <div class="background">
                <img class="responsive-img" src="/content/images/zstu_nav_background.jpg">
            </div>
            <img class="circle" src="/content/images/zstu_logo.jpg">
        </div>
    </li>
    <li class="item">
        <div class="collapsible-header"><i class="material-icons">school</i>@Texts["Faculty"]</div>
        <div class="collapsible-body">
            <ul>
                <li><a href="@Url.Action("List", "Faculty")">@Texts["Faculties"]</a></li>
                <li><a href="@Url.Action("List", "Lecturer")">@Texts["Lecturers"]</a></li>
                <li><a href="@Url.Action("List", "Department")">@Texts["Departments"]</a></li>
            </ul>
        </div>
    </li>
    <li class="item">
        <div class="collapsible-header"><i class="material-icons">weekend</i>@Texts["Components"]</div>
        <div class="collapsible-body">
            <ul>
                <li><a href="@Url.Action("List", "Attendee")">@Texts["Attendees"]</a></li>
                <li><a href="#!">@Texts["Rooms"]</a></li>
                <li><a href="#!">@Texts["Subjects"]</a></li>
                <li><a href="@Url.Action("List", "Course")">@Texts["Courses"]</a></li>
                <li><a href="#!">@Texts["Timetable"]</a></li>
            </ul>
        </div>
    </li>
    <li class="item">
        <div class="collapsible-header"><i class="material-icons">web</i>@Texts["Schedule"]</div>
        <div class="collapsible-body">
            <ul>
                <li><a href="#!">@Texts["Activities"]</a></li>
                <li><a href="#!">@Texts["DailySchedule"]</a></li>
                <li><a href="#!">@Texts["WeekSchedule"]</a></li>
                <li><a href="#!">@Texts["ScheduleGroup"]</a></li>
            </ul>
        </div>
    </li>
</ul>