<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment names="Development">
        <link rel="stylesheet" href="~/content/css/lib/materialize.css" />
        <link rel="stylesheet" href="~/content/css/site.css" />
    </environment>
    <environment names="Live">
        <link rel="stylesheet" href="~/content/css/lib/materialize.min.css" />
        <link rel="stylesheet" href="~/content/css/site.min.css" />
    </environment>
</head>
<body class="grey lighten-4">
    @{
        var showNavigation = User.Identity.IsAuthenticated;
    }
    @if (showNavigation)
    {
        <header>
            @await Component.InvokeAsync("Navigation")
        </header>
    }
    <div class="content @When(showNavigation, () => ToHtml("content-wrapper"))">
        @RenderBody()
    </div>

    @Html.AntiForgeryToken()

    <environment names="Development">
        <script src="~/content/script/lib/jquery-3.3.1.js"></script>
        <script src="~/content/script/lib/jquery.validate-1.17.0.min.js"></script>
        <script src="~/content/script/lib/jquery.validate.unobtrusive-3.2.10.min.js"></script>
        <script src="~/content/script/lib/materialize.js"></script>
        <script src="~/content/script/lib/moment.min.js"></script>
        <script src="~/content/script/framework.utils.js"></script>
        <script src="~/content/script/framework.validation.js"></script>
        <script src="~/content/script/framework.implicitvalues.js"></script>
        <script src="~/content/script/control.navigation.js"></script>
        <script src="~/content/script/control.autocomplete.js"></script>
        <script src="~/content/script/control.autocomplete.mappers.js"></script>
        <script src="~/content/script/control.urls.js"></script>
        <script src="~/content/script/control.dropdowns.js"></script>
        <script src="~/content/script/control.datetimepicker.js"></script>
        <script src="~/content/script/controls.ui.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/content/script/default.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>